* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    background-color: #72a285;
}

main {
    padding: 20px 0;
    color: #fff;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #4c6c59;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

h1 {
    font-weight: 100;
    font-size: 36px;
    letter-spacing: 12px;
    text-align: center;
}

.content {
    display: flex;
    gap: 30px;
    /* margin-top: 30px; */
}

.heading {
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.category-form {
    display: flex;
}

.category-form input {
    width: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
    padding: 5px 5px;
    font-size: 12px;
}

.category-form button {
    border: none;
    padding: 5px;
    border-radius: 0 3px 3px 0;
    color: #dedede
}

.categories-list {
    list-style-type: none;
    margin-top: 10px;
}

.category-btn {
    font-size: 15px;
    border-radius: 3px;
    display: flex;
    gap: 20px;
}

.category-btn:hover {
    background-color: #608670;
    cursor: pointer;
}

.category-btn span {
    padding: 10px;
    display: block;
    width: 100%;
}

.category-actions {
    display: flex;
}

.category-actions button {
    /* visibility: hidden; */
    border: none;
    padding: 5px;
    background-color: transparent;
    color: #d4d4d4;
}

.category-actions button:hover {
    cursor: pointer;
    color: black;
}

/* .category-btn:hover .category-actions {
    visibility: visible;
} */

.active-category {
    background-color: #314539;
}

.active-category:hover {
    background-color: #314539;
}

.todo-bar {
    width: 100%;
}

.todo-form {
    margin-bottom: 30px;
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.todo-form input {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 15px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.todo-form select {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.todo-form select option:disabled {
    color: #b1b1b1;
}

.todo-form button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #dedede;
}

.todo-form button:hover {
    cursor: pointer;
}

.todo-list {
    list-style-type: none;
    border-radius: 3px;
    background-color: #fff;
}

.todo {
    padding: 15px 10px;
    border-bottom: 1px solid #dedede;
    padding-left: 10px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo:last-child {
    border: none;
}

.todo-label span {
    margin-left: 8px;
}

.todo-label form {
    display: inline;
}

.completed {
    text-decoration: line-through;
}

.category-label {
    color: grey;
    font-size: 12px;
}

.todo-buttons {
    font-size: 12px;
}

.todo-buttons button {
    padding: 2px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: #ababab;
}

.todo-buttons button:hover {
    cursor: pointer;
    color: #000;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 20px;
}

.info button {
    border: none;
    font-size: 13px;
    background-color: #4c6c59;
    color: #dedede;
}

.info button:hover {
    color: #fff;
    cursor: pointer;
}